
#section0 h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #040404;
    margin:0;
    padding:0;

    /* WebKit (Safari/Chrome) Only */
    -webkit-text-stroke: 1px black;

    /* If we weren't using text-shadow, we'd set a fallback color
       and use this to set color instead
      -webkit-text-fill-color: white; */

    color: white;

    text-shadow:
            3px 3px 0 #000,
                /* Simulated effect for Firefox and Opera
                   and nice enhancement for WebKit */
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    font-size: 5em
}

#section0 h2{
    font-size: 2em;
    font-family: arial,helvetica;
    color: #040404;
    margin:0;
    padding:0;

    /* WebKit (Safari/Chrome) Only */
    -webkit-text-stroke: 1px black;

    /* If we weren't using text-shadow, we'd set a fallback color
       and use this to set color instead
      -webkit-text-fill-color: white; */

    color: white;

    text-shadow:
            2px 2px 0 #000,
                /* Simulated effect for Firefox and Opera
                   and nice enhancement for WebKit */
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}
/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
    overflow: hidden;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:100;
}


#obrazek_video{
    height: 100vh;
    width: 100%;
    background: url('tlo.jpg') no-repeat center;
}


@media only screen and (max-width: 700px) {
    #myVideo{
        display: none;
    }

    #section0 h2{
        font-size: 5vw;
        text-shadow: 1px 1px 0 #000;
    }
    #LOGO{
        display: none;
    }
    .obrazki_responsywne{
        display: none !important;
        /*width: 20px !important;*/
    }
    #two{
        height: 500px !important;
        margin-bottom: 400px !important;
    }

}



@media only screen and (min-width: 700px) {
    #obrazek_video{
        display: none;
    }
    #menu_repsonsive{
        display: none;
    }

}
/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer{
    position: absolute;
    z-index: 200;
    width: 100%;
    left: 0;
    top: 43%;

    /*
    * Preventing flicker on some browsers
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
    overflow: hidden;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}


/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
/*video::-webkit-media-controls {*/
    /*display:none !important;*/
/*}*/


#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active{
    background:#666;
    background: #969696;
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}


#menu_repsonsive li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu_repsonsive li.active{
    background:#666;
    background: #969696;
    color: #fff;
}
#menu_repsonsive li a{
    text-decoration:none;
    color: #000;
}
#menu_repsonsive li.active a:hover{
    color: #000;
}
#menu_repsonsive li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu_repsonsive li a,
#menu_repsonsive li.active a{
    padding: 9px 18px;
    display:block;
}
#menu_repsonsive li.active a{
    color: #fff;
}
#menu_repsonsive{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}



.wrapper {
    overflow:hidden;
    height: 100%;
}

.wrapper div {
    height: 50%;
    padding: 10px;
}
#one {
    float:left;
    width:50%;
    border-right:1px dashed #4a4a4a;
    height: 100%;
}
#two {
    overflow:hidden;
    height: 100%;
}

@media screen and (max-width: 700px) {
    #one .center-div, #two .center-div {
        top: -100px;
    }
    #one {
        float: none;
        margin-right:0;
        width:auto;
        border:0;
        border-bottom:1px dashed #4a4a4a;
        height: 50%;
    }
    #two{
        height: 50%;
    }
    #menu{
        display: none;
    }

}

.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 60%;
    background-color: #C7EBC2;
}

.column a{
    cursor: pointer;
    color: black;
}

