.ps-scrollbar-y-rail{
    z-index: 10000;
}


#DragDropDiv , #DragDropDiv_edit{
    width: 100%;
    height: 240px;
    margin-left: 0;
}
#wrzucaneObrazki , #wrzucaneObrazki_edit{
    width: 100%;
    margin-top: 30px; /* -230 50px */

}

#obecnieDodaneimages
{
    display: inline-block;
    /*height: 200px;*/
    margin-left: -40px;
    list-style-type: none;
}

.jFiler-item{
    width: 32%;
    margin-right: 5px;
    min-width: 240px;
}

.jFiler-jProgressBar{
    position: absolute;
    width: 90%;
    bottom: 28px;
}

@media all and (max-width: 590px) {
    .jFiler-item{
        width: 100%;
        margin-right: 5px;
        min-width: 240px;
    }
}
@media all and (min-width: 590px) and (max-width: 900px) {
    .jFiler-item{
        width: 45%;
        margin-right: 25px;
        min-width: 240px;
    }
}


.slick-prev:before, .slick-next:before {
    color:black !important;
}

 span.selection > span{
    cursor: pointer !important;
}
.input{
    border: 1px solid #b1b1b1;
    border-radius: 4px;
}
#wiecejpokazschow .input{
    height: 140px;

}

.easy-autocomplete input{
    height: 40px;
}

.no-search .select2-search {
    display:none
}

@media only screen and (max-width: 767px) {
    .ui.tiny.modal {
        width: 95%;
        margin: 0em 0em 0em -47.5%;
    }
}

@media only screen and (min-width: 768px) {
    .ui.tiny.modal {
        width: 66%;
        margin: 0em 0em 0em -33%;
    }
}

@media only screen and (min-width: 992px) {
    .ui.tiny.modal {
        width: 500px;
        margin: 0em 0em 0em -250px;
    }
}

@media only screen and (min-width: 1200px) {
    .ui.tiny.modal {
        width: 500px;
        margin: 0em 0em 0em -250px;
    }
}

@media only screen and (min-width: 1920px) {
    .ui.tiny.modal {
        width: 600px;
        margin: 0em 0em 0em -300px;
    }
}
