#wyszukiwarkamapa{
    width: 100%;
}

#wyszukiwarkamapa > div
{
    width: 100%;

}

#wyszukiwarkamapa > div > input
{
    padding-left: 20px;
}

#wyszukiwarkamapa > div > div.leaflet-pelias-results.leaflet-bar
{
    top: 45px;
}

