*{
    font-family: 'Open Sans', sans-serif ;
}

body {
    overflow:hidden;
}

#PASEK{
    height: 40px;
    position: absolute;
    z-index: 2;
    width: auto;
    margin-top: 5px;
    margin-left: 10px;


}

#PASEK > div {
    height: 98vh;
    width: 400px;
}


#PASEK .segment.element{
    overflow-y: hidden;
    overflow-x: hidden;
}

 /* ROZWIJAJ / SCHOWANE*/
#ROZWIN_KLIK2{
    background-color: white;
    width: 30px;
    height: 63px;
    top: 5px;
    left:410px; /* */
    position: absolute;
    z-index: 1005;
    border: 2px solid #bcbcb9;
    border-radius: 5px;
}


#tabki{
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.element{
    height: 91.5vh;
    width: 400px;
    /*top: -15px;*/
    overflow-y: auto;
    position: relative;
}
#LADOWANIE{
    position: absolute;
    z-index: 50;
    top: 40%;
    left: 60%;
}

#LADOWANIE_PRZEGLADANIA{
    height: 100%;
    width: 100%;
    padding-top: 50%;
    padding-left: 40%;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    z-index: 50;
}
#LADOWANIE_MOICH_DODANYCH{
    margin-top: 34%;
    height: 60%;
    width: 100%;
    padding-top: 50%;
    padding-left: 40%;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    z-index: 50;
}

#LADOWANIE_MOJEJ_LISTY{
    height: 100%;
    width: 100%;
    padding-top: 50%;
    padding-left: 40%;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    z-index: 50;
    display: none;
}

#LOGOO{
    position: absolute;
    z-index: 10;
    right: 15px;
    top:10px;
    width: 150px;
    cursor: pointer;
}
.tytulaktywny{
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    display:inline-block;
    text-overflow: ellipsis;
    font-size: 90%;
    margin-bottom: -7px;
    cursor: default;
}

.tytulaktywny.aktywny {
    white-space: pre-wrap;
}

#tabki .item:not(:last-child){
    width: 23%;
}
#ROZWIN_KLIK{
    width: 8%;
}
#PASEK_Dolny-offer{
    height: 3%;
    margin-bottom: -20px;
}

.Odstpedol{
    margin-bottom: 10px;
}



@media (max-width: 765px) {

    #pasekDodawnieitd_przydodwaniau .button {
        font-size: 10px;
    }
    #pasekDodawnieitd_przydodwaniau_edit .button {
        font-size: 10px;
    }
    #pasekDodawnieitd .button {
        font-size: 12px;
    }

    #mojeulubione{
        padding-bottom: 100px;
    }
    #mojezaznaczone2{
        padding-bottom: 100px;
    }
    #PASEK_Dolny-offer a{
        font-size: 11px;
    }
    #PASEK_Dolny-offer{
        height: 3%;
        margin-bottom: -20px;
        padding-bottom: 100px;

    }

    .element {
        height: 93vh;
        width: 100%;
    }

    #PASEK{
        height: 40px;
        position: absolute;
        z-index: 60;
        margin: 0 0 0 0;
    }
    #PASEK > div{
        width: 100vw;
    }

    #tabki .item:not(:last-child){
        width: 21%;
    }
    #ROZWIN_KLIK{
        width: 18%;
    }

    #LADOWANIE{
        top: 40%;
        left: 40%;
    }

}


#legenda .row .column {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

