#MAPA{
    height: 100%;
    z-index: 1;
}

#MAPA .leaflet-control-zoom {
    left: 410px;
    top: -5px;
    position: relative;
}

.leaflet-draw-section{
    position: relative;
    left: 410px;
    top: -5px;
}

.easy-button-container {
    position: relative;
    left: 410px;
    top: 10px;
}

@media (max-width: 765px) {
    .leaflet-draw-section{
        display: none;
    }
    .easy-button-container {
        top: -15px;

    }
}



#rysujTooltip{
    position: absolute;
    /*background-color: white;*/
    top: 36px;
    left: 0px;
    font-size: 95%;
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}






