
#ERORKIFORM ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
#wiecejpokazschow{
    padding-bottom: 220px;
    margin-top: 10px;
    /*height: 250%;*/
}

#wiecejpokazschow + #legenda{
    height: 100px;
}
#wiecejpokazschow.active + #legenda{
    height: 120px;
}


#wiecejpokazschow .fieldmarginBottom{
    margin-bottom: 25px;
}

#wyszukiwarka1{
    min-height: 260px;
}
#wyszukiwarka2{
    padding-top: 20px;
    min-height: 100px;
    height: calc(100% - 250px);
    /*height: 200px;*/
}

@media only screen and (max-width: 767px) {
    #wyszukiwarka1{
        height: 300px;
    }
    #wyszukiwarka2{
        min-height: 250px;
        height: calc(100% - 300px);
    }

    #wiecejpokazschow + #legenda{
        height: 165px;

    }
    #wiecejpokazschow.active + #legenda{
        height: 220px;
    }
}
