.kolejne_zdjecie{
    height: 70px;
    width: 30%;
    margin-right: 3%;
}




.MINIATURKI {
    width: 90%;
    left: 5%;
    margin-top: 8px;
    margin-bottom: 35px;

}

.miniaturka_div_back{
    height: 50px;
    width: 75px;
    overflow: hidden;
    display:block;
    display: table;
    position: relative;
    margin-right: 10px;
}

.miniaturka_div{
    height: 50px;
    width: 75px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.miniaturka_div img {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.glowne_zdjecie_div_back{
    height: 220px;
    width: 100%;
    overflow: hidden;
    display:block;
    display: table;
    position: relative;
    margin-right: 10px;
}

.glowne_zdjecie_div{
    height: 220px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.lista_div_back{
    height: 155px;
    width: 50%;
    overflow: hidden;
    display:block;
    display: table;
    position: relative;
    margin-right: 20px;
    background-color: #EDF2EE;
}

.lista_div{
    height: 155px;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.lista_div img {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.glowne_zdjecie_div img {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


