
#TYTUL{
    position: absolute;
    font-size: 300%;
    margin-left: 33vw;
    margin-top: -550px;
    z-index: 10;
}

#O_NAS{
    padding-top: 100px;
    margin-top: -100px;
}
/*****************************************************************************/

body{
    overflow-x: hidden;
    color: #222524;
}

.homepage-hero-module {
    position: relative;
    top: -2%;
    left: -1%;
    background-color: black;
    width: 101vw;
}

.video-container {
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 56.25%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 100%;
    height:100%;
}

@media (max-height: 800px) {
        .video-container {
            margin-top: -12.5%;
        }
}


@media (max-width: 900px) {
    .video-container {
        background: url('stare/zasoby/film.jpg') center center / cover no-repeat;
    }

    .video-container video {
        display: none;
    }
}

@media (max-width: 767px) {
    .video-container {
        display: none;
    }
    #TYTUL{
        position: relative;
        font-size: 200%;
        z-index: 10;
        top: 20px;
        margin: 80px 0 50px 5px;
    }
    #TYTUL .header{
        color: black!important;
    }

    #O_NAS{
        padding-top: 50px;
        margin-top: 0;
    }
}











