<div *ngIf="adminAccountInfo">
  <h4>Witaj {{adminAccountInfo.name}}</h4>
  <p>Aktualna ilość ofert: {{adminAccountInfo.activeOffersCount}} / {{adminAccountInfo.allOffersCount}}</p>
  <p>Liczba zarejestrowanych użytkowników: {{adminAccountInfo.usersCount}}</p>


</div>
<div *ngIf="!adminAccountInfo">pobieranie danych</div>

<br>
<a class="account-menu" href="" (click)="navigateOfferApproval()">do zatwierdzenia</a>
<a class="account-menu" href="" (click)="navigateUsers()">użytkownicy</a>
<a class="account-menu" href="" (click)="navigateReports()">zgłoszenia</a>
<a class="account-menu" href="" (click)="navigatePriceList()">cennik</a>
<a class="account-menu" href="" (click)="navigatePacketsList()">pakiety</a>
<a class="account-menu" href="" (click)="navigateAccountSettings()">konto</a>
<a class="account-menu" href="" (click)="logout()">wyloguj</a>
