<div *ngIf="!packetsList || packetsList.length == 0 ">
  ładowanie
</div>

<div *ngIf="packetsList && packetsList.length > 0 ">
  <ul>
    <li *ngFor="let item of packetsList">
      <input type="text" [(ngModel)] = "item.name" (focus)="onAmountFocus(item)">
      punkty:
      <input type="text" [(ngModel)] = "item.pointsCount" (focus)="onAmountFocus(item)">

      koszt:
      <input type="text" [(ngModel)] = "item.pricePln" (focus)="onAmountFocus(item)">gr
      <div *ngIf="clickedItem && clickedItem.id == item.id"><button  (click)="cancelEditPacket(item)">anuluj</button> <button (click)="editPacket(item)">zapisz</button></div><br>
    </li>
  </ul>

</div>
