
<div *ngIf="countriesCode && countriesCode.length > 0 ">
  <p>dostępne cenniki:</p>
  <ul>
    <li>
      <a class="account-menu" href="" (click)="getPriceList(null)">domyślny cennik</a>
    </li>
    <li *ngFor="let item of countriesCode">
      <a class="account-menu" href="" (click)="getPriceList(item)">{{countriesCode}}</a>
    </li>
  </ul>
</div>



<div *ngIf="!priceList || priceList.length == 0 ">
  brak cennika
</div>

<div *ngIf="priceList && priceList.length > 0 ">
  <p *ngIf="country">Cennik dla {{country}}</p>
  <ul>
    <li *ngFor="let item of priceList">
      {{item.productType}} punktów: <input type="text" [(ngModel)] = "item.amount" (focus)="onAmountFocus(item)">
      <div *ngIf="clickedItem && clickedItem.id == item.id"><button  (click)="cancelEditPriceList(item)">anuluj</button> <button (click)="editPriceList(item)">zapisz</button></div><br>
    </li>
  </ul>

</div>
